* {
  margin: 0;
  padding: 0;
}
body {
 
  background-color: brown;
  background: url(photo-1625225230517-7426c1be750c.avif);
  background-size:auto;
  background-repeat: repeat;
 

}
.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-container{
  color: white;
  font-size: 1.2rem;
  padding: 50px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: rgba(31, 20, 20, 0.123);
}
.input-conatiner{
  
}
p {
  padding-top: 8px;
  width: 280px;
  height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #023047b9;
  color: #f1faee;
}
input {
  border: 1px solid black;
  height: 30px;
}
